MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

RAW_BUCKET_NAME=raw
INCOMING_FOLDER_PATH=
CURATED_BUCKET_NAME=

STARROCKS_USER=
STARROCKS_PASSWORD=
STARROCKS_HOST=
STARROCKS_PORT=
STARROCKS_DATABASE=
REDIS_URL=
MODEL_BASE_URL=
ODEL_BASE_URL=
OPIK_URL_OVERRIDE=
OPIK_PROJECT_NAME=
QDRANT_URL=
COLLECTION_NAME=
OLLAMA_API_KEY=