MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

RAW_BUCKET_NAME=
INCOMING_FOLDER_PATH=
CURATED_BUCKET_NAME=

STARROCKS_USER=
STARROCKS_PASSWORD=
STARROCKS_HOST=
STARROCKS_PORT=
STARROCKS_DATABASE=

REDIS_URL=

MODEL_BASE_URL=